[user]
    name = Ashton Snelgrove
    email = ashton@snelgrove.science

[merge]
    tool = meld

[diff]
    tool = meld
    renameLimit = 20000

[difftool "macmeld"]
  trustExitCode = true
  cmd = open -W -a Meld --args \"$LOCAL\" \"$REMOTE\"

[mergetool "macmeld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
  prompt = false

[mergetool "winmeld"]
    cmd = meld --output $(cygpath -aw \"$MERGED\") $(cygpath -aw \"$LOCAL\") $(cygpath -aw \"$BASE\") $(cygpath -aw \"$REMOTE\")

[difftool "winmeld"]
    cmd = meld $(cygpath -aw \"$LOCAL\") $(cygpath -aw \"$REMOTE\")

[mergetool "ediff"]
    cmd = emacs --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

[difftool "ediff"]
    cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[core]
    autocrlf = input
    eol = lf
    excludesfile = ~/.gitignore_global

[pretty]
    treeline= %C(bold blue)%h%C(reset) %C(yellow)%ai%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    mt = mergetool
    dt = difftool
    rb = rebase
    mg = merge
    praise = blame
    tree = log --graph --all --abbrev-commit --decorate --pretty=treeline
    treehere = log --graph --abbrev-commit --decorate --pretty=treeline
    root = rev-parse --show-toplevel

[push]
    default = simple

[include]
    path = ~/.gitenv
