[user]
	name = Ashton Snelgrove
	email = ashsnelgrove@ice-edge.com

[merge]
	tool = winmeld

[diff]
	tool = winmeld

[mergetool "winmeld"]
	cmd = meld --output $(cygpath -aw \"$MERGED\") $(cygpath -aw \"$LOCAL\") $(cygpath -aw \"$BASE\") $(cygpath -aw \"$REMOTE\")

[difftool "winmeld"]
	cmd = meld $(cygpath -aw \"$LOCAL\") $(cygpath -aw \"$REMOTE\")

[mergetool "ediff"]
	cmd = emacs --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"

[difftool "ediff"]
	cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = true
	fileMode = false

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
    praise = blame
    tree = log --graph --all --oneline
    addnw=!sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'

[push]
	default = simple
